In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("used_bikes.csv")

In [5]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha

In [6]:
print(data.dtypes)

bike_name     object
price          int64
city          object
kms_driven     int64
owner         object
age            int64
power          int64
brand         object
dtype: object

In [17]:
memo_initial = data.memory_usage(deep = True)

In [18]:
memo_initial.sum()

46031

In [20]:
data["price"] = data["price"].astype(float)
data["kms_driven"] = data["kms_driven"].astype(object)

In [21]:
print(data.dtypes)

bike_name      object
price         float64
city           object
kms_driven     object
owner          object
age             int64
power           int64
brand          object
dtype: object

In [22]:
memo_final = data.memory_usage(deep= True)

In [23]:
memo_final.sum()

49607

In [25]:
difference = memo_final.sum()-memo_initial.sum()
print(difference)

3576